  .dropbtn {   
    background-color: black; color: white; padding: 6px; font-size: 16px; border: none; cursor: pointer; border-radius:8px;
  }  

  .dropdown {   
    position: relative; display: inline-block; 
  }
  .dropdown-content {
    display: none; position: absolute; background-color: #f6f6f6; min-width: 230px; overflow: auto; border: 1px solid #ddd; z-index: 1; color: black;
  }
  .dropbtn:hover,
  .dropbtn:focus {
    background-color: #3e8e41; 
    text-decoration: none;
  }  
  
  .dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


  #myInput:focus {
    outline: 3px solid #ddd;
  }  
    
  .dropdown-content a {
    color: black; padding: 12px 16px; text-decoration: none; display: block; 
  }  
  .dropdown a:hover {
    background-color: #ddd;
  }  
  .show {
    display: block;
  } 
  input{
    color: black;
  }
.background {
    background-image: url(https://KeenGWatanabe.github.io/ce994website/images/lightning.png);  
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1200px 700px;
    width: 100vw; /* Ensures the element spans the full viewport width */
    height: 100vh; /* Ensures the element spans the full viewport height */
    background-color: black
  }

 .p,
 .a {
    color: cyan; 
    font-size: 16px; 
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace; 
    text-align: left; 
    padding-top: 20px;
  } 

  .h1 {
    color: white; 
    font-size: 30px; 
    font-family: 'Courier New', Courier, monospace; 
    text-align: center; 
    padding-top: 20px;
 } 

 .listbutton {   
    background-color: black; color: white; padding: 6px; font-size: 16px; border: none; cursor: pointer; border-radius:8px; text-decoration: none; display: inline-block
  }

  .ctrDiv{
    display: flex; 
    align-items: center; 
    text-align: center; 
    justify-content: center;  
}  